html {
    font-size: 15px;
}

body {
    font-family: 'Inter', system-ui, -apple-system, Roboto, "Segoe UI", Arial, sans-serif;
    padding: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    overflow-x: hidden;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.form-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 16px;
    padding: 2rem;
    max-width: 720px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.form-container img {
    display: block;
    margin: 0 auto;
}

.desc {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #999;
}

label {
    font-weight: 600;
    display: block;
    margin-bottom: 0.25rem;
    font-size: 1.35rem;
    color: #222;
}

input,
textarea,
select {
    width: 100%;
    padding: 0.6rem 0.75rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1rem;
    color: #333333aa;
    background-color: #e0f0ff; /* light blue */
    border: 1px solid #88c1ff; /* medium blue */
    transition: all 0.2s ease-in-out;
}

input:focus,
textarea:focus,
select:focus {
    outline: #66aaffaa; /* soft blue focus */
    background-color: #cce5ff; /* slightly darker blue on focus */
}

textarea {
    resize: none;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: #66aaff; /* medium blue */
    color: #fff;
    transition: background-color 0.2s;
    transition: color 0.2s;
}

button:hover {
    background-color: #3390ff; /* darker blue on hover */
}

.submit-container {
    text-align: center;
    margin-top: 1rem;
}

@media (max-width: 720px) {
    html {
        font-size: 20px;
    }

    .form-container {
        max-width: 100%;
        width: 100%;
    }
}
